/* HERO */
.hero-colecao {
    width: 100%;
    height: 350px;
    background: url("img/banner-croche.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
